body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    word-wrap: break-word;
}

/* html {
    -webkit-text-size-adjust: 100%;
} */

.card-container {
    padding: 5px;
    .card-title {
        font-size: 12px;
        font-weight: "bolder";

        word-wrap: break-word;
    }
    .text-dark {
        font-size: 10px;
    }
    .btn {
        width: 100%;
    }
}

.card {
    max-width: 100%;
    margin: 0;

    border-radius: "5px";
    background-color: #f2cc8f;
    background-image: linear-gradient(0deg, #f2cc8f 0%, #f8f3d9 100%);
}
